02-workflow-orchestration/homework/flows/flow-homework-02-question-03.yaml
#TODO: Use the render function with template, reference: https://gemini.google.com/app/371e4fefd28e5255?hl=pt-BR
#TODO: Change the structure of this file to this template, reference: http://localhost:8080/ui/main/flows/edit/zoomcamp/test_for_each/edit
id: homework-02-question-03
namespace: zoomcamp

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: green

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020","2021"]
    defaults: "2019"



tasks:
  - id: iterating_over_months_2020_yellow
    type: io.kestra.plugin.core.flow.ForEach
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    tasks:
      - id: processing_task
        type: io.kestra.plugin.scripts.shell.Commands
        # Use 'env' to define variables for the shell script
        env:
          FILE_NAME: "{{ inputs.taxi }}_tripdata_{{ inputs.year }}-{{ taskrun.value }}.csv"
          STAGING_TABLE: "public.{{ inputs.taxi }}_tripdata_staging"
          TABLE_NAME: "public.{{ inputs.taxi }}_tripdata"
            # Accessing the specific file from a previous 'extract' task output
  
        commands: 
          - echo "Processing $FILE_NAME into $STAGING_TABLE"
          - echo "Data source is located at $DATA_PATH"


      - id: set_label
        type: io.kestra.plugin.core.execution.Labels
        labels:
          file: "$FILE_NAME"
          taxi: "{{inputs.taxi}}"

      - id: extract
        type: io.kestra.plugin.scripts.shell.Commands
        outputFiles:
          - "*.csv"
        env:
          DATA_PATH: "{{ outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ taskrun.value ~ '.csv'] }}"
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}

      - id: get_size
        type: io.kestra.plugin.scripts.shell.Commands
        commands:
          - stat -c%s {{render(vars['data'])}} > size.txt
        outputFiles:
          - size.txt


      - id: log_result
        type: io.kestra.plugin.core.log.Log
        message: "The captured size is {{ read(outputs.get_size.outputFiles['size.txt'])}} bytes."



      - id: if_yellow_taxi
        type: io.kestra.plugin.core.flow.If
        condition: "{{inputs.taxi == 'yellow'}}"
        then:
          - id: yellow_create_table
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
                  unique_row_id          text,
                  filename               text,
                  VendorID               text,
                  tpep_pickup_datetime   timestamp,
                  tpep_dropoff_datetime  timestamp,
                  passenger_count        integer,
                  trip_distance          double precision,
                  RatecodeID             text,
                  store_and_fwd_flag     text,
                  PULocationID           text,
                  DOLocationID           text,
                  payment_type           integer,
                  fare_amount            double precision,
                  extra                  double precision,
                  mta_tax                double precision,
                  tip_amount             double precision,
                  tolls_amount           double precision,
                  improvement_surcharge  double precision,
                  total_amount           double precision,
                  congestion_surcharge   double precision
              );

          - id: yellow_create_staging_table
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS {{render(vars.staging_table)}} (
                  unique_row_id          text,
                  filename               text,
                  VendorID               text,
                  tpep_pickup_datetime   timestamp,
                  tpep_dropoff_datetime  timestamp,
                  passenger_count        integer,
                  trip_distance          double precision,
                  RatecodeID             text,
                  store_and_fwd_flag     text,
                  PULocationID           text,
                  DOLocationID           text,
                  payment_type           integer,
                  fare_amount            double precision,
                  extra                  double precision,
                  mta_tax                double precision,
                  tip_amount             double precision,
                  tolls_amount           double precision,
                  improvement_surcharge  double precision,
                  total_amount           double precision,
                  congestion_surcharge   double precision
              );

          - id: yellow_truncate_staging_table
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              TRUNCATE TABLE {{render(vars.staging_table)}};

          - id: yellow_copy_in_to_staging_table
            type: io.kestra.plugin.jdbc.postgresql.CopyIn
            format: CSV
            from: "{{render(vars.data)}}"
            table: "{{render(vars.staging_table)}}"
            header: true
            columns: [VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge]


          - id: yellow_add_unique_id_and_filename
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              UPDATE {{render(vars.staging_table)}}
              SET 
                unique_row_id = md5(
                  COALESCE(CAST(VendorID AS text), '') ||
                  COALESCE(CAST(tpep_pickup_datetime AS text), '') || 
                  COALESCE(CAST(tpep_dropoff_datetime AS text), '') || 
                  COALESCE(PULocationID, '') || 
                  COALESCE(DOLocationID, '') || 
                  COALESCE(CAST(fare_amount AS text), '') || 
                  COALESCE(CAST(trip_distance AS text), '')      
                ),
                filename = '{{render(vars.file)}}';

          - id: yellow_merge_data
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              MERGE INTO {{render(vars.table)}} AS T
              USING {{render(vars.staging_table)}} AS S
              ON T.unique_row_id = S.unique_row_id
              WHEN NOT MATCHED THEN
                INSERT (
                  unique_row_id, filename, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime,
                  passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID,
                  DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount,
                  improvement_surcharge, total_amount, congestion_surcharge
                )
                VALUES (
                  S.unique_row_id, S.filename, S.VendorID, S.tpep_pickup_datetime, S.tpep_dropoff_datetime,
                  S.passenger_count, S.trip_distance, S.RatecodeID, S.store_and_fwd_flag, S.PULocationID,
                  S.DOLocationID, S.payment_type, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount,
                  S.improvement_surcharge, S.total_amount, S.congestion_surcharge
                );

      - id: if_green_taxi
        type: io.kestra.plugin.core.flow.If
        condition: "{{inputs.taxi == 'green'}}"
        then:
          - id: green_create_table
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
                  unique_row_id          text,
                  filename               text,
                  VendorID               text,
                  lpep_pickup_datetime   timestamp,
                  lpep_dropoff_datetime  timestamp,
                  store_and_fwd_flag     text,
                  RatecodeID             text,
                  PULocationID           text,
                  DOLocationID           text,
                  passenger_count        integer,
                  trip_distance          double precision,
                  fare_amount            double precision,
                  extra                  double precision,
                  mta_tax                double precision,
                  tip_amount             double precision,
                  tolls_amount           double precision,
                  ehail_fee              double precision,
                  improvement_surcharge  double precision,
                  total_amount           double precision,
                  payment_type           integer,
                  trip_type              integer,
                  congestion_surcharge   double precision
              );

          - id: green_create_staging_table
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS {{render(vars.staging_table)}} (
                  unique_row_id          text,
                  filename               text,
                  VendorID               text,
                  lpep_pickup_datetime   timestamp,
                  lpep_dropoff_datetime  timestamp,
                  store_and_fwd_flag     text,
                  RatecodeID             text,
                  PULocationID           text,
                  DOLocationID           text,
                  passenger_count        integer,
                  trip_distance          double precision,
                  fare_amount            double precision,
                  extra                  double precision,
                  mta_tax                double precision,
                  tip_amount             double precision,
                  tolls_amount           double precision,
                  ehail_fee              double precision,
                  improvement_surcharge  double precision,
                  total_amount           double precision,
                  payment_type           integer,
                  trip_type              integer,
                  congestion_surcharge   double precision
              );

          - id: green_truncate_staging_table
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              TRUNCATE TABLE {{render(vars.staging_table)}};

          - id: green_copy_in_to_staging_table
            type: io.kestra.plugin.jdbc.postgresql.CopyIn
            format: CSV
            from: "{{render(vars.data)}}"
            table: "{{render(vars.staging_table)}}"
            header: true
            columns: [VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge]

          - id: green_add_unique_id_and_filename
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              UPDATE {{render(vars.staging_table)}}
              SET 
                unique_row_id = md5(
                  COALESCE(CAST(VendorID AS text), '') ||
                  COALESCE(CAST(lpep_pickup_datetime AS text), '') || 
                  COALESCE(CAST(lpep_dropoff_datetime AS text), '') || 
                  COALESCE(PULocationID, '') || 
                  COALESCE(DOLocationID, '') || 
                  COALESCE(CAST(fare_amount AS text), '') || 
                  COALESCE(CAST(trip_distance AS text), '')      
                ),
                filename = '{{render(vars.file)}}';

          - id: green_merge_data
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              MERGE INTO {{render(vars.table)}} AS T
              USING {{render(vars.staging_table)}} AS S
              ON T.unique_row_id = S.unique_row_id
              WHEN NOT MATCHED THEN
                INSERT (
                  unique_row_id, filename, VendorID, lpep_pickup_datetime, lpep_dropoff_datetime,
                  store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count,
                  trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee,
                  improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge
                )
                VALUES (
                  S.unique_row_id, S.filename, S.VendorID, S.lpep_pickup_datetime, S.lpep_dropoff_datetime,
                  S.store_and_fwd_flag, S.RatecodeID, S.PULocationID, S.DOLocationID, S.passenger_count,
                  S.trip_distance, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount, S.ehail_fee,
                  S.improvement_surcharge, S.total_amount, S.payment_type, S.trip_type, S.congestion_surcharge
                );
      - id: get_number_rows_of_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        fetchType: FETCH_ONE
        sql: |
              SELECT COUNT(1) FROM {{render(vars.staging_table)}};

      - id: log_result_number_rows
        type: io.kestra.plugin.core.log.Log
        message: "The number of rows {{ outputs.get_number_rows_of_table.outputs[0].row.count }}"

      - id: purge_files
        type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
        description: This will remove output files. If you'd like to explore Kestra outputs, disable it.
  - id: get_number_rows_of_final_table
    type: io.kestra.plugin.jdbc.postgresql.Queries
    fetchType: FETCH_ONE
    sql: |
              SELECT COUNT(1) FROM $;

pluginDefaults:
      - type: io.kestra.plugin.jdbc.postgresql
        values:
          url: jdbc:postgresql://pgdatabase:5432/ny_taxi
          username: root
          password: root